
body {
	text-align: center;
}
img {
	max-width: 100%;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
	color : #00802b;
}

.poster {
    width: 400px;
}
